<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ControlzEx" version="3.0.2.4" targetFramework="net40" />
  <package id="Hardcodet.NotifyIcon.Wpf" version="1.0.8" targetFramework="net40" />
  <package id="HtmlAgilityPack" version="1.11.17" targetFramework="net40" />
  <package id="Khernet.App.VLC" version="1.0.0" targetFramework="net40" />
  <package id="MahApps.Metro" version="1.6.5" targetFramework="net40" />
  <package id="MahApps.Metro.IconPacks" version="2.3.0" targetFramework="net40" />
  <package id="Markdig" version="0.18.0" targetFramework="net40" />
  <package id="Markdig.Wpf" version="0.3.1" targetFramework="net40" />
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="net40" />
  <package id="Microsoft.Bcl.Async" version="1.0.168" targetFramework="net40" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="net40" />
  <package id="Microsoft.CodeAnalysis.FxCopAnalyzers" version="2.9.7" targetFramework="net40" developmentDependency="true" />
  <package id="Microsoft.CodeAnalysis.VersionCheckAnalyzer" version="2.9.7" targetFramework="net40" developmentDependency="true" />
  <package id="Microsoft.CodeQuality.Analyzers" version="2.9.7" targetFramework="net40" developmentDependency="true" />
  <package id="Microsoft.NetCore.Analyzers" version="2.9.7" targetFramework="net40" developmentDependency="true" />
  <package id="Microsoft.NetFramework.Analyzers" version="2.9.7" targetFramework="net40" developmentDependency="true" />
  <package id="Ninject" version="3.2.2.0" targetFramework="net40" />
</packages>